* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 734px;
  height: 316px;
  perspective: 800px;
}

/* .container:hover > .card {
  cursor: pointer;
  transform: rotateX(180deg);
} */

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.is-flipped {
  transform: rotateX(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url("./images/Peter-running-away-meme-666x500.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-color: white;
}

.back {
  text-align: justify;
  background-color: white;
  color: black;
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.para p {
  width: 600px;
}
